<div class="form-body">
    <div class="alert alert-danger display-hide">
        <button class="close" data-close="alert"></button>
        <span id="message">
        </span>
    </div>
    <div class="form-group">
        <input id="oldPassword" type="password" class="form-control" placeholder="原密碼">
    </div>
    <div class="form-group">
        <input id="newPassword" type="password" class="form-control" placeholder="新密碼">
    </div>
    <div class="form-group">
        <input id="cnfPassword" type="password" class="form-control" placeholder="確認密碼">
    </div>
</div>
<div class="form-actions">
    <div class="row">
        <div class="col-md-offset-3 col-md-9">
            <button id="submit" type="button" class="btn green">設定</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
    </div>
</div>
<script>
    $(document).on('click', '#submit', function (e) {
        var old = $('#oldPassword').val()
        var pwd = $('#newPassword').val()
        var cnf = $('#cnfPassword').val()

        if (old == '') {
            errorMsg('請輸入原密碼')
        } else if (pwd == '') {
            errorMsg('請輸入新密碼')
        } else if (pwd != cnf) {
            errorMsg('新密碼確錯誤')
        } else {
            $('.alert-danger').hide();
            $.post('/User/AjaxChangePassword', {
                old: old,
                pwd: pwd
            }, function (data) {
                if (data.Ok) {
                    $('#AjaxModal').modal('toggle')
                } else {
                    if (data.Data) {
                        errorMsg(data.Data)
                    } else {
                        errorMsg('程式錯誤')
                    }
                }
            })
        }
    });
    function errorMsg(msg) {
        $('#message').text(msg);
        $('.alert-danger').show();
    }
</script>