<div style="text-align:center;">
    <div class="page-footer">
        <div class="page-footer-inner">
            <a href="http://www.kooco.com.tw">Kooco</a> &copy; 2009-2014 All Rights Reserved. Version 2.0
        </div>
        <div class="scroll-to-top">
            <i class="icon-arrow-up"></i>
        </div>
    </div>
</div>