<?xml version="1.0" encoding="utf-8"?>

<!-- 如需使用 Web.config 轉換的詳細資訊，請瀏覽 http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下列範例中，"SetAttributes" 轉換會變更
    "connectionString" 的值，以便在 "Match" 定位器
    找到具有 "MyDB" 值的屬性 "name" 時僅使用 "ReleaseSQLServer"。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
-->

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      在下列範例中，"Replace" 轉換會取代
      Web.config 檔案的全部 <customErrors> 區段。
      注意，由於
      <system.web> 節點下只有一個 customErrors 區段，則無需使用 "xdt:Locator" 屬性。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
-->
  </system.web>
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="MasterServerAddress" value="104.199.156.100" />
  </appSettings>
<!--
  <jIAnSoft>
    <framework>
      <common xdt:Transform="Replace" name="AmmasOfficial" culture="zh-TW" timezone="Taipei Standard Time" companyId="" isTest="true" />
      <webMaintain xdt:Transform="Replace" isOpen="true" accessIp="" start="2009-01-01 00:00" end="2012-01-02 00:00" redirectUrl="http://http://ammascp.azurewebsites.net/" />
      <web xdt:Transform="Replace" domain="azurewebsites.net" pageSize="30" cookieTimeout="3600" currentUrl="http://http://ammascp.azurewebsites.net/" masterAdmin="root|kooco|steven|" masterAdminIp="192.168.40.188|118.163.124.168|104.199.156.100|::1|61.220.55.235|210.208.83.253|211.23.164.133" />
      <database>
         <add xdt:Locator="Match(name)" xdt:Transform="Replace" name="AmmasOfficial" connection="server=192.168.40.65;database=PingballOfficial;uid=PingballUser;pwd=Kooco2015-ˊ_>ˋ-0415ocooK;Connection Timeout=5;" providerName="System.Data.SqlClient" forceTransformEncoding="Traditional" />
      </database>
    </framework>
  </jIAnSoft>
  <setup>
    <appConfig>
      <redis xdt:Transform="Replace" host="192.168.40.214" select="3" port="6379" password="soul/Gp55wDD#" connectionString="soul/Gp55wDD#@192.168.40.214:6379" />
    </appConfig>
  </setup>-->

  <!--Log4Net配置節點-->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file xdt:Transform="Replace" value="C:\WebLogs\gm.sc.madsugr.com\Logs\Log.log" />
    </appender>
  </log4net>
  <!--Log4Net配置節點結束-->
</configuration>
