<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="jIAnSoft">
      <section name="framework" type="jIAnSoft.Framework.Configuration.Section, jIAnSoft" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="MasterServerAddress" value="118.163.124.165" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MvcSiteMapProvider_SiteMapFileName" value="~/Mvc.sitemap" />
    <add key="MvcSiteMapProvider_ExcludeAssembliesForScan" value="" />
    <add key="MvcSiteMapProvider_AttributesToIgnore" value="" />
    <add key="MvcSiteMapProvider_CacheDuration" value="5" />
    <add key="MvcSiteMapProvider_ControllerTypeResolverAreaNamespacesToIgnore" value="" />
    <add key="MvcSiteMapProvider_DefaultSiteMapNodeVisibiltyProvider" value="MvcSiteMapProvider.FilteredSiteMapNodeVisibilityProvider, MvcSiteMapProvider" />
    <add key="MvcSiteMapProvider_VisibilityAffectsDescendants" value="true" />
    <add key="MvcSiteMapProvider_SecurityTrimmingEnabled" value="false" />
    <add key="MvcSiteMapProvider_EnableLocalization" value="true" />
    <add key="MvcSiteMapProvider_EnableSitemapsXml" value="true" />
    <add key="MvcSiteMapProvider_EnableResolvedUrlCaching" value="true" />
    <add key="MvcSiteMapProvider_EnableSiteMapFile" value="true" />
    <add key="MvcSiteMapProvider_IncludeRootNodeFromSiteMapFile" value="true" />
    <add key="MvcSiteMapProvider_EnableSiteMapFileNestedDynamicNodeRecursion" value="false" />
    <add key="MvcSiteMapProvider_UseTitleIfDescriptionNotProvided" value="true" />
    <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
    <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />
    <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="Tw.Com.Kooco.Admin" />
    <add key="vs:EnableBrowserLink" value="true" />
    <add key="TwAccountSid" value="AC100fd434098ee63fa51f0f5d97697c39"/>
    <add key="TwAccountToken" value="6a84d03a046f64847d30ab0d8dc6af15"/>
    <add key="TwNumber" value="+12407725558"/>
    <add key="Domain" value="http://localhost/"/>
  </appSettings>
  <!-- jIAnSoft Framework -->
  <jIAnSoft>
    <framework>
      <!--  ja-JP ammas-cp.azurewebsites.net -->
      <common name="冠竹開發" culture="zh-TW" timezone="Taipei Standard Time" companyId="" isTest="true" />
      <mail smtpHost="email-smtp.us-west-2.amazonaws.com" smtpPort="25" smtpAccount="AKIAIRJO2ZB5FTEIXIBQ" smtpPassword="AnZz/utxzTiwY6YeQMfCYzlGrT1gST8EbsZt9c5ny8Yy" from="noreply@kooco.com.tw" />
      <webMaintain isOpen="true" accessIp="" start="2009-01-01 00:00" end="2016-01-02 00:00" redirectUrl="http://admin-peiling.azurewebsites.net/" />
      <web domain="" pageSize="30" cookieTimeout="3600" currentUrl="http://admin-peiling.azurewebsites.net/" masterAdmin="root|kooco|steven|" masterAdminIp="175.180.110.23|118.163.124.168|183.177.134.28|::1|60.251.202.123|112.105.146.99|211.76.55.212|118.163.124.165" />
      <database>
        <add name="concompany_DB" connection="Server=tcp:conCompany-db.database.windows.net,1433;Database=concompany-db;User ID=kooco_admin;Password=Koo2915co;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
        <!--
         <add name="AmmasOfficial" connection="Server=tcp:192.168.0.7;Database=AmmasOfficial;User ID=sa;Password=kooco2407;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
   -->   </database>
    </framework>
  </jIAnSoft>
  <connectionStrings>
    <add name="Remotesql" connectionString="Data Source=conCompany-db.database.windows.net,1433;Initial Catalog=concompany-db;MultipleActiveResultSets=true;Integrated Security=False;User ID=kooco_admin;Password=Koo2915co"/>
  </connectionStrings>
  <!--jIAnSoft Framework-->
  <!--Log4Net配置節點-->
  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c %m%n" />
      </layout>
    </appender>
    <!-- 寫入文字檔設定開始 -->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="D:\WebLogs\pingballcp-debug.kooco.com.tw\Logs\Log.log" />
      <appendToFile value="true" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="2" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %thread %logger - %message%newline" />
      </layout>
    </appender>
    <!-- 寫入文字檔設定結束 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <!--Log4Net配置節點結束-->
  <!--
    如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

    您可以在 <httpRuntime> 標記上設定下列屬性。
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/User/Login" timeout="31080" />
    </authentication>
    <compilation targetFramework="4.6.1" debug="true" />
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" maxRequestLength="10240" requestValidationMode="2.0" />
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--<pages validateRequest="false">
      <namespaces>
        <add namespace="MvcSiteMapProvider.Web.Html" />
        <add namespace="MvcSiteMapProvider.Web.Html.Models" />
      </namespaces>
    </pages>-->
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Vary" value="Accept-Encoding" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthenticationModule" />
      <remove name="UrlRoutingModule-4.0" />
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule" />
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <remove fileExtension=".unity3d" />
      <mimeMap fileExtension=".unity3d" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <!--
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Photon.SocketServer" publicKeyToken="48c2fa3b6988090e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.28.8340" newVersion="3.4.28.8340" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>