@model Tw.Com.Kooco.Admin.Models.Msg.Msg
@{
    ViewBag.Title = "Send";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2> 发送短信 </h2>

<div class="portlet-body form">
    <!-- BEGIN FORM-->
    @using (Html.BeginForm("Send", "Msg", FormMethod.Post, new { @class = "form-horizontal form-bordered form-row-stripped" }))
    { 
        <div class="form-body">
            <div class="form-group required">
                <label class="col-md-1 control-label">电话号码</label>
                <div class="col-md-9">
                    <input type="text" id="phonenumber" name="phonenumber" class="form-control" value="@Model.phonenumber" required>
                </div>
            </div>
            <div class="form-group required">
                <label class="col-md-1 control-label">短信内容</label>
                <div class="col-md-9">
                    <textarea id="content" name="content" class="form-control" required>@Model.content</textarea>
                </div>
            </div>
            <div class="form-control">
                <label id="errormsg">* 显示需要</label>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">
                        <button type="submit" class="btn btn-primary js_submit"><i class="fa fa-check"></i> 发送</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <!-- END FORM-->
</div>

<script src="~/Scripts/App/Msg/send.js"></script>